
							<tr>
								<td align="center" valign="top" id="templateBody">
									<!--[if gte mso 9]>
									<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
									<tr>
									<td align="center" valign="top" width="600" style="width:600px;">
									<![endif]-->
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
										<tr>
                                			<td valign="top" class="bodyContainer">
                                				<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
    												<tbody class="mcnTextBlockOuter">
        												<tr>
            												<td valign="top" class="mcnTextBlockInner">
                												<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                    												<tbody>
                    													<tr>
                        													<td valign="top" class="mcnTextContent" style="padding: 9px 18px;color: #00BCD4;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-style: normal;line-height: 100%;text-align: left;">
	                        													<h1 id="modal-title">
			        															<img src="img/icon-logo-symbol.png" alt="">Gracias por tu compra</h1>
	                        													<p id="green-box">
	                        														<span id="referencia-small">Tú número de referencia es:</span>
	                        														<span id="referencia">#12345</span>
	                        													</p>
	                        													<p style="text-align: center; margin-top: 20px;margin-bottom: 30px;">
	                        														<span id="next-step">Siguiente paso:</span>
	                        													</p>
	                        													<p style="text-align: center;">
	                        														<span id="bychild">¡Trae a tu hijo(a) a &reg; {{nombre_empresa}}<br/>!</span>
	                        													</p>
													                        </td>
													                    </tr>
													                    <tr>
													                    	<table>
													                    		<tr>
														                    		<td valign="top" class="mcnTextContent" style="padding: 20px 18px;color: #00BCD4;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-style: normal;line-height: 100%;text-align: left;">
															                    		<img src="img/map-email.png" alt="" />
															                    	</td>
															                    	<td valign="top" class="mcnTextContent" style="padding: 9px 18px;color: #00BCD4;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-style: normal;line-height: 100%;text-align: left;">
															                    		<p>
																	        				Av. Eugenio Garza Sada, <br>Col. lorem Ipsum Dolor sit amet
																	        			</p>
															                    	</td>
															                    	<td valign="top" class="mcnTextContent" style="padding: 20px 18px;color: #00BCD4;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-style: normal;line-height: 100%;text-align: left;">
															                    		<img src="img/calendar-email.png" alt="">
															                    	</td>
															                    	<td valign="top" class="mcnTextContent" style="padding: 9px 18px;color: #00BCD4;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-style: normal;line-height: 100%;text-align: left;">
															                    		<p>
																	        				A partir del 15 de junio <br>de 2016 de 4:00pm a 6:00pm
																	        			</p>
															                    	</td>
													                    		</tr>
													                    	</table>
													                    </tr>
													                    <tr>
													                    	<td>
													                    		<div style="width: 50px; border:1px solid #0278fc;margin: 30px auto;"></div>
													                    	</td>
													                    </tr>
													                    <tr>
													                    	<td valign="top" class="mcnTextContent" style="padding: 9px 18px;color: #00BCD4;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-style: normal;line-height: 100%;text-align: left;">
													                    		<p style="text-align: center;">
	                        														Para cualquier duda, llámanos al <strong>Tel. (81) 1234 5678</strong>
	                        													</p>
																										&reg; {{nombre_empresa}}<br/>  
													                    	</td>
													                    </tr>
													                </tbody>
													            </table>
												            </td>
												        </tr>
												    </tbody>
												</table>
											</td>
										</tr>
									</table>
									<!--[if gte mso 9]>
									</td>
									</tr>
									</table>
									<![endif]-->
								</td>
                            </tr>
							<tr>
								<td align="center" valign="top" id="templateColumns">
									<table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                                        <tr>
                                            <td align="center" valign="top">
												<!--[if gte mso 9]>
												<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
												<tr>
												<td align="center" valign="top" width="300" style="width:300px;">
												<![endif]-->
												<table align="left" border="0" cellpadding="0" cellspacing="0" width="300" class="columnWrapper">
													<tr>
														<td valign="top" class="columnContainer"></td>
													</tr>
												</table>
												<!--[if gte mso 9]>
												</td>
												<td align="center" valign="top" width="300" style="width:300px;">
												<![endif]-->
												<table align="left" border="0" cellpadding="0" cellspacing="0" width="300" class="columnWrapper">
													<tr>
														<td valign="top" class="columnContainer"></td>
													</tr>
												</table>
												<!--[if gte mso 9]>
												</td>
												</tr>
												</table>
												<![endif]-->
											</td>
										</tr>
									</table>
								</td>
                            </tr>
                            <tr>
							